<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark sticky-top" class="navCss" [containerInside]="false">
    <!-- SideNav slide-out button -->
    <a class="navbar-brand" href="#">
        <img class="logo" src="./assets/img/Icon.png" height="40" href="##home">
    </a>
    <links>
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item">
                <a href="##about" class="nav-link waves-effect menuBtn"><h4>about</h4></a>
            </li>
            <li class="nav-item">
                <a href="##skills" class="nav-link waves-effect menuBtn"><h4>skills</h4></a>
            </li>
            <li class="nav-item">
                <a href="##projects" class="nav-link waves-effect menuBtn"><h4>projects</h4></a>
            </li>
            <li class="nav-item">
                <a href="##contact" class="nav-link waves-effect menuBtn"><h4>contact</h4></a>
            </li>
            <li class="nav-item">
                <a href="##contact" class="nav-link waves-effect menuBtn"><h4>social</h4></a>
            </li>
            
        </ul>
    </links>
    <!-- <links>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a href="https://www.facebook.com/lewis.morgans" target="_blank" class="nav-link waves-effect menuBtn">
                    <img src="./assets/img/facebook.svg">
                </a>
            </li>
            <li class="nav-item">
                <a href="https://www.linkedin.com/in/lewismorgansengineer/" target="_blank"
                    class="nav-link waves-effect menuBtn">
                    <img src="./assets/img/linkedin.svg">
                </a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/LewisMorgans" target="_blank" class="nav-link waves-effect menuBtn">
                    <img src="./assets/img/github.svg">
                </a>
            </li>
        </ul>
    </links> -->
</mdb-navbar>

<!-- <div class="container-fluid">
    <section id="#home"></section>
    <div class="row vh-100">
      <div id="particles-js" class="col-lg-12 mx-auto">
        <div>
          <img class="logo" src="./assets/img/logo.png">
          <div id="arrow-container">
            <a href="##about"><img class="arrow bounce" src="./assets/img/down-arrow.svg"></a>
          </div>
        </div>
      </div>
    </div>
  </div> -->