<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark " [containerInside]="false">
    <!-- SideNav slide-out button -->
    <div class="float-left mr-auto">
        .
    </div>

    <links>
        <ul class="navbar-nav mr-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-effect" mdbWavesEffect><img src="/assets/img/home.svg"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" mdbWavesEffect><img src="/assets/img/man.svg"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" mdbWavesEffect><img src="/assets/img/cog.svg"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" mdbWavesEffect><img src="/assets/img/eye.svg"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" mdbWavesEffect><img src="/assets/img/send.svg"></a>
            </li>
        </ul>
    </links>

    <links>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-effect">
                    <img src="/assets/img/facebook.svg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect">
                    <img src="/assets/img/discord.svg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect">
                    <img src="/assets/img/github.svg">
                </a>
            </li>
        </ul>
    </links>
</mdb-navbar>