@font-face {
  font-family: navItems;
  src: url("../../../assets/fonts/BebasNeue-Regular.ttf");
}

.nav-item {
  padding: 0px 5px 0px 5px;
  h4 {
    font-family: navItems;
    text-align: center;
  };

  h4:hover {
    text-decoration: underline #66FCF1 !important;
  }
}



::ng-deep .navCss nav {
  background: rgba(255, 255, 255, 0.089) !important; /* Give transparent white background to navbar */
  /* 0.2 to give little whitish effect. */
  /* Put 0 to get complete transperency */
  z-index: 100;
  backdrop-filter: blur(10px) saturate(125%); /* Blur the background */
  /* 10px Gaussian Blur and saturate for fluent design */
  -webkit-backdrop-filter: blur(10px) saturate(125%); /* Increases browser compability (safari ios and mac) */
  height: 20% !important;


}

#nevmenu {
  min-width: 100vh;
  z-index: 100;
}

