<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark sticky-top" class="navCss" [containerInside]="false">
    <!-- SideNav slide-out button -->
    <div class="float-left mr-auto">
        <img class="logo" src="./assets/img/logo.svg">
    </div>

    <links>
        <ul class="navbar-nav mr-auto nav-flex-icons">
            <li class="nav-item">
                <a href="##home" class="nav-link waves-effect menuBtn" mdbWavesEffect><img src="./assets/img/home.svg"></a>
            </li>
            <li class="nav-item">
                <a href="##about" class="nav-link waves-effect menuBtn" mdbWavesEffect><img src="./assets/img/man.svg"></a>
            </li>
            <li class="nav-item">
                <a href="##skills" class="nav-link waves-effect menuBtn" mdbWavesEffect><img src="./assets/img/cog.svg"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect menuBtn" mdbWavesEffect><img src="./assets/img/eye.svg"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect menuBtn" mdbWavesEffect><img src="./assets/img/send.svg"></a>
            </li>
        </ul>
    </links>

    <links>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a href="https://www.facebook.com/lewis.morgans" target="_blank" class="nav-link waves-effect menuBtn">
                    <img src="./assets/img/facebook.svg">
                </a>
            </li>
            <li class="nav-item">
                <a  href="https://discord.gg/n9MhtNx" target="_blank" class="nav-link waves-effect menuBtn">
                    <img src="./assets/img/discord.svg">
                </a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/LewisMorgans" target="_blank" class="nav-link waves-effect menuBtn">
                    <img src="./assets/img/github.svg">
                </a>
            </li>
        </ul>
    </links>
</mdb-navbar>