@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");

* {
  padding: 0;
  margin: 0;
}


.skillsTitle {
  font-family: titleFont;
  writing-mode: vertical-rl;
  display: flex;
  justify-content: center;
  align-items: center;
  text-orientation: upright;
  letter-spacing: 55px;
  color: #ffffff;
  cursor: context-menu;

  h3 {
    font-size: 5em;
  }
}

.skillsContainer {
  background-image: url("../../../assets/img/skills-backdrop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  font-family: textFont;
  text-align: left;
  font-weight: 470;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5% !important;
  margin: none !important;


}

@media only screen and (max-width: 1541px) {
  .skillsContainer {
    padding-bottom: 25% !important;
  }
}

@media only screen and (max-width: 756px) {
  .skillsContainer {
    padding-bottom: 45% !important;
  }
}

@media only screen and (max-width: 513px) {
  .skillsContainer {
    clip-path: none;
  }

  .skillsTitle {
    font-family: navItems;
    writing-mode: horizontal-tb;
    h3 {
      font-size: 2em;
      letter-spacing: 20px;
      margin: 25px;
    }
  }
}
