<div class="container-fluid">
  <section id="#services"></section>
  
  
  <div class="row">
    <div class="col-md-6 mx-auto pl-4">
      <p class="title">Skills</p>
    </div>
    </div>




    <div class="row">
      <div class="skill-bars col-md-4 mx-auto">
        <div class="bar">
          <div class="info">
            <span>FRONT END</span>
          </div>
          <div class="progress-line html">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <div class="info">
            <span>ANGULAR</span>
          </div>
          <div class="progress-line css">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <div class="info">
            <span>TYPESCRIPT</span>
          </div>
          <div class="progress-line jquery">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <div class="info">
            <span>RXJS</span>
          </div>
          <div class="progress-line python">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <div class="info">
            <span>NGRX</span>
          </div>
          <div class="progress-line mysql">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <div class="info">
            <span>DOCKER</span>
          </div>
          <div class="progress-line docker">
            <span></span>
          </div>
        </div>
      </div>
      </div>
    </div>
