@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");

* {
  padding: 0;
  margin: 0;
}


.skillsTitle {
  font-family: titleFont;
  letter-spacing: 35px;
  color: #C8CFCD;
  font-size: 59px;
  text-align: center;

}

.skillsContainer {
  background-image: url("../../../assets/img/skills-backdrop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  font-family: textFont;
  text-align: left;
  font-weight: 470;
  color: white;
 padding: 3%;
  margin: none !important;

  .graph {
    margin-top: 5%
  }


}

@media only screen and (max-width: 1541px) {
  .skillsContainer {
    .graph {
      margin-top: 5%
    }
  
  }
}

@media only screen and (max-width: 756px) {
  .skillsContainer {
    padding-bottom: 45% !important;
  }
}

@media only screen and (max-width: 513px) {
  .skillsContainer {
    clip-path: none;
  }

  .skillsTitle {
    font-family: navItems;
    writing-mode: horizontal-tb;
    h3 {
      font-size: 2em;
      letter-spacing: 20px;
      margin: 25px;
    }
  }
}
