@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.container-fluid {
  background: -webkit-linear-gradient(to right, #a43931, #1d4350);
  background: linear-gradient(to right, #a43931, #1d4350);
}

.social {
  padding-bottom: 15px;
  img:hover {
    filter: brightness(130%);
  }
}

#contactForm {
  padding: 5%;
  font-family: textFont;
  text-align: center;
  font-weight: 470;
  color: white;

  .btn {
    color: #F53D7C;
    background-color: #1E1E2E;
    border: none;
  }
}

.title {
  font-family: titleFont;
  letter-spacing: 25px;
  color: #F53D7C;
  cursor: context-menu;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  font-size: 59px;
  line-height: 1;
  filter: brightness(0.9);
}

@media only screen and (max-width: 513px) {
  .title {
    letter-spacing: 0px;
    font-size: 55px;
  }
}
