@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.container-fluid {
  background-image: url("../../../assets/img/contact-backdrop.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.social {
  padding-bottom: 15px;
  img:hover {
    filter: brightness(130%);
  }
}

#contactForm {

  padding: 5%;
  font-family: textFont;
  text-align: left;
  font-weight: 470;
  color: #87C232;
  

  input {
    background-color: #474A4F;
    border-color: #474A4F;
    color: #FFF
  }

  select {
    background-color: #474A4F;
    border-color: #474A4F;
    color: #FFF
  }

  textarea {
    background-color: #474A4F;
    border-color: #474A4F;
    color: #FFF
  }

  .btn {
    font-family: textFont;
    color: #87C232;
    background-color: #474A4F;
    border: none;
  }


}

.title {
  font-family: titleFont;
  letter-spacing: 25px;
  color: #87C232;
  cursor: context-menu;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  font-size: 59px;
  line-height: 1;
  filter: brightness(0.9);
}

@media only screen and (max-width: 513px) {
  .title {
    letter-spacing: 0px;
    font-size: 55px;
  }
}
