<div class="container-fluid">
    <section id="#contact"></section>
    <div class="row" id="contactForm">
        <div class="col-md-6 mx-auto">
            <form [formGroup]="contactForm" class="text-center " action="#!">
                <p class="h4 mb-4 title">Contact Us</p>
                <input formControlName="name" type="text" id="defaultContactFormName" class="form-control mb-4"
                    placeholder="Name">
                <input formControlName="email" type="email" id="defaultContactFormEmail" class="form-control mb-4"
                    placeholder="E-mail">
                <label>Subject</label>
                <select formControlName="subject" class="browser-default custom-select mb-4">
                    <option value="" disabled>Choose option</option>
                    <option value="Temporary Contract" selected>Temporary Contract</option>
                    <option value="Permanant Contract">Permanant Contract</option>
                    <option value="General Query">General Query</option>
                    <option value="I'd Like to connect">I'd Like to connect</option>
                </select>
                <div class="form-group">
                    <textarea formControlName="message" class="form-control" id="exampleFormControlTextarea2" rows="5"
                        placeholder="Message"></textarea>
                </div>
                <button class="btn btn-info btn-block" type="button" (click)="submitForm()"
                    [disabled]="contactForm.invalid">
                    <span [hidden]="spinner" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    <span [hidden]="send">Send</span></button>
            </form>
        </div>
    </div>
</div>