<div class="container-fluid">
  <div class="aboutContainer row align-items-start h-100">
    <section id="#about"></section>
    <div id="about-section" class="col-lg-4 mb-5">
      <img class="profilePic" src="./assets/img/lewis.svg">
    </div>
    <div id="about-section" class="col-lg-6 mr-auto">
      <span class="title">
        <p>Take a look around!</p>
      </span>
      <p class="text">
        I have over 4 years experience in software development, working alongside some of the best UX/UI designers, QA
        testers, Engineers and Product Owners South Wales has to offer. I've developed several projects assisting the
        likes of small business owners with edits and rebuilds, along with providing support to local artists and
        working for industry giants such as Admiral and Keytree.
        In excess of my technical ability, I also have excellent soft skills such as communication with stakeholders,
        leading agile ceremonies, problem solving and coaching my peers. My focus within the industry is in web
        applications. I have been working within JavaScript with a heavy focus on Object Oriented TypeScript since the
        beginning of my career, and continue to leverage the Angular 2 framework and NPM library to produce high
        quality, scalable solutions.
        <br><br>
        Over the course of my career I have developed understanding in several frameworks, both front end and back
        end,
        to allow myself to become a fullstack engineer. I am capable of completing server side work in Node.js and
        Next.js with Express and have professional experience of interaction with databases and
        Model-View-Controllers.
        I am used to working in an agile enviroment, with precise project management, delivering high quality
        engineering solutions and meeting scoped deadlines without compromising quality or security. Feel free to
        explore my website to learn about what skills I have, what I can offer you or your company and more
        importantly
        how I can make your life better.
      </p>
    </div>
  </div>
</div>