@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");
.container-fluid {
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #3a6073, #16222a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #3a6073,
    #16222a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  z-index: -10;
}

.text {
  margin-top: 55px;
}
.title {
  font-family: skillsFont;
  letter-spacing: 25px;
  font-size: clamp(45px, 3vw, 100px);
  color: #0ae1c2;
  cursor: context-menu;
  text-transform: uppercase;
  text-align: center;
}

.aboutContainer {
  background: linear-gradient(90deg, rgba(57, 13, 12, 1) 36%, rgba(69, 29, 11, 1) 80%);
  clip-path: polygon(100% 100%, 0 90%, 0 0, 100% 0);
  padding-bottom: 15%;
  padding-top: 5%;
}

#about-section {
  font-family: "Montserrat";
  text-align: left;
  font-weight: 500;
  color: white;
  padding-top: 5%;

  .profilePic {
    display: block;
    margin: auto;
    margin-top: 65px;
    left: 10%;
    width: 300px;
    transform: rotate(-5deg) !important;
    border: 5px white solid;
    filter: brightness(75%);
    filter: grayscale(75%);
  }
  .title {
    p {
      background: #304352; /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #d7d2cc, #304352); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to top,
        #d7d2cc,
        #304352
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      background-clip: text;
      color: transparent;
      font-weight: 200;
      font-size: 59px;
      line-height: 1;
      filter: brightness(150%);
    }
  }
}

@media only screen and (max-width: 513px) {
  .title {
    letter-spacing: 0px;
  }
}
@media only screen and (max-width: 885px) {
  .aboutContainer {
    padding-bottom: 25% !important;
  }
}

@media only screen and (max-width: 513px) {
  .aboutContainer {
    padding-bottom: 65% !important;
  }
}
