.container-fluid {
  background-color: #ac4954;

  .profilePic {
    background-color: #084e51;
    img {
      display: block;
      margin: auto;
      margin-top: 65px;
      left: 10%;
      width: 300px;
    }

    h5 {
      padding: 5%;
      text-align: left;
      font-family: titleFont;
      color: white;
    }
  }

  .text-body {
    h1 {
      padding-top: 5%;
      text-align: center;
      font-family: titleFont;
      font-size: 59px;
      line-height: 1;
      color: white;
    }

    p {
      font-family: textFont;
      text-align: left;
      font-weight: 500;
      color: white;
      padding-bottom: 5%;
    }
  }
}
