<div class="container-fluid">
  <div class="row">
    <section id="#about"></section>
    <div class="col offset-0 col-xl-2 offset-xl-3 profilePic">
      <div class="row">
        <div class="col-md-12">
          <div class="img-wrapper">
            <img class="logo" src="./assets/img/profile01.PNG" />

          </div>
          <br>
          <div class="pl-5">
            <div>
              <button class="btn btn-small btn-success mx-auto">
                <a href="./assets/cv/cv.pdf" target="_blank">Resume</a>
              </button>
    
              <button class="btn btn-small btn-success mx-auto">
                <i class="fas fa-envelope"></i>
                <a href="##contact">Contact</a>
              </button>
            </div>
  
          </div>
 
          <!-- <div class="center pr-6">
            <button class="btn btn-small btn-success">
              <a href="./assets/cv/cv.pdf" target="_blank">Resume</a>
            </button>

            <button class="btn btn-small btn-success">
              <i class="fas fa-envelope"></i>
              <a href="##contact">Contact</a>
            </button>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col offset-0 col-xl-5 offset-xl-1 text-body">
      <p class="title">About Me</p>
      <p>
        Hi! My name is <span class="highlight">Lewis Morgans</span>. Senior Software
        Engineer and founder of Swift Media. Providing consultancy and software solutions to
        software companies around Europe. 
        
        I'm experienced, dedicated and professional. <br><br>
        I have provided software solutions to businesses working within finance, education,
        insurance, maritime counter piracy/smuggling operations and internal communications systems for domestic and foreign intelligence agencies. 
        <br>
        <br>
        
        Working through <span class="highlight">Swift Media</span>, I am available between the hours of 9AM and 5PM UK standard time. 
        Working on a 100% remote basis to provide solutions to your business needs, without the limitation of geographical borders.<br>
         As a representative of <span class="highlight">Swift Media</span>, I only accept projects outside of the United Kingdom's IR35 legislation.
         <br />
         <br>
         Let's work together to achieve <span class="highlight">success.</span>

      </p>
    </div>
  </div>
</div>
