@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");

body {
  z-index: 10;
}

.aboutContainer {
  background-color: white;
  // background: linear-gradient(0deg, rgba(94,37,99,1) 0%, rgba(101,118,153,1) 50%);
}

#about-section {
  font-family: "Montserrat";
  text-align: center;
  font-weight: 470;

  .profilePic {
    border-radius: 45%;
    width: 300px;
    margin-top: 20px;
  }
  .title {
    p {
      background: linear-gradient(0deg, rgba(94, 37, 99, 1) 0%, rgba(101, 118, 153, 1) 50%);
      background-clip: text;
      color: transparent;
      font-weight: 200;
      font-size: 74px;
      line-height: 1;
    }

  }
}
