<div class="container-fluid">
  <section id="#home"></section>
  <div class="row vh-100">
    <div id="particles-js" class="col-xl-12 mx-auto">
      <div class="center">
        <div class="img-wrapper">
          <img class="logo" src="./assets/img/elisiumLogo.svg" />
          <p><span class="logoSubtext">ELISIUM</span></p>
        </div>

        <div id="arrow-container">
          <a href="##about"
            ><img class="arrowBounce" src="./assets/img/right-arrow.svg"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
