<div class="container-fluid">
  <section id="#home"></section>
  <div class="row vh-100">
   
    <div id="particles-js" class="col-md-auto">
      <div >
        <img class="logo" src="./assets/img/logo.svg">
        <div class="flyIn" id="title">
          
          <h3>We Are</h3>
          <h1>Swift Media</h1><br>
          <h3>Contract <strong> Engineering</strong></h3>
        </div>
        <div id="arrow-container">
          <a href="##about"><img class="arrow bounce" src="./assets/img/down-arrow.svg"></a> 
        </div>
      </div>
    </div>
  </div>

  </div>
