@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");

.card-img-top {
  max-width: 400px;
}

.container-fluid {
  background: #25274D;
  padding: 5%;
  padding-top: 0px;
}

.title {
  font-family: titleFont;
  letter-spacing: 25px;
  color: #2D9CCA;
  
  font-size: 59px;
  line-height: 1;
  text-align: center;
}

.project {
  background-color: #474866;
  border-radius: 5px;
  color: #FFF;
  font-family: textFont;
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  margin-bottom: 25px;
  padding: 25px;

  .btn {
    background-color: #2D9CCA;
    color: #FFF;
    transition: ease 0.2s all;
    border: 1px solid #2D9CCA;
    border-radius: 10px;
    // margin-bottom: 25px;
  }

  .btn:hover {
    transform: scale(1.1);
  }
}

.card {
  font-family: textFont;
  border-color: #F53D7C;
  .card-body {
    background-color: #323232;
    color: white;
  }
  .btn {
    background-color: #323232;
    color: #F53D7C;
    transition: ease 0.2s all;
    border: 1px solid #F53D7C
  }

  .btn:hover {
    transform: scale(1.2);
    background-color: #323232;
    color: #F53D7C;
  }

  hr {
    background-color: #0ae1c2;
  }
}

@media only screen and (max-width: 513px) {
  .title {
    letter-spacing: 0px;
    font-size: 52px;
  }

  .title2 {
    letter-spacing: 7px;
    font-size: 35px;
    margin-top: 25px;
    margin-left: 18px;
  }
}