<div class="container-fluid">
    <section id="#projects"></section>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h3 class="title2">recent</h3>
            <h1 class="title">projects</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mx-auto mb-2">
            <div class="card">
                <div>
                    <img src="./assets/img/instaquote.PNG" class="card-img-top" alt="...">
                </div>

                <div class="card-body">
                    <h5 class="card-title">InstaQuote</h5>
                    <h6><strong>2018 -2019</strong></h6>
                    <hr>
                    <p class="card-text mt-1">
                        Written in TypeScript, using the Angular 6 framework my team and I developed a
                        streamlined and scalable solution to allow customers to get access to quotations in a far more
                        time-efficient manner. By implementing core foundations to the project such as being able to
                        search by property postcode, and auto-populating the required information for a quote, such as
                        what roof type you might have, or how far away the nearest water source is. We were able to
                        reduce the customer's journey time dramatically. Increasing customer retention and sales
                        exponentially. </p>
                    <a href="https://quote.admiral.com/IQ/home/instaquote-details/googl" target="_blank"
                        class="btn">View Project</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mx-auto mb-2">
            <div class="card">
                <img src="./assets/img/multiCover.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Quote Engine Re-Write</h5>
                    <h6><strong>2019 - 2020</strong></h6>
                    <hr>
                    <p class="card-text mt-1">
                        My team was created with the sole purpose of completely re-writing the Admiral quotation engine.
                        Bringing Admiral inline with current technology by removing an outdated custom angular.js
                        framework, and implementing Angular 8. Making use of many technologies such as NGRX state
                        management, the RXJS library, allowing us to programme reactively leveraging Observables,
                        composing asynchronous and callback code. This inline with Java-based API's on a maven
                        middle-tier meant we were able to deliver a significantly faster, more powerful, adaptable and
                        scalable solution to serve Admiral products for years to come. Implementing this new engine
                        reduced loading times, error reports
                        and increased customer retention. This was a large project that took several hundreds of hours
                        to complete. To do this we needed to streamline our work process. One example of
                        this was removing the native Angular testbed and creating custom unit tests running in 3.5
                        seconds opposed 15 minutes. Heavy planning, use of current Software paradigms and following the
                        development lifecycle was the reason that enabled us to deliver a highly functioning product in
                        little time.

                    </p>
                    <a href="https://www.admiral.com/multicover-insurance" target="_blank" class="btn">View Project</a>
                </div>
            </div>
        </div>
    </div>
</div>