<div class="container-fluid">
    <section id="#projects"></section>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="title">projects</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 mx-auto mb-2">
            <div class="card">
                <div>
                    <img src="./assets/img/instaquote.PNG" class="card-img-top" alt="...">
                </div>
                
                <div class="card-body">
                    <h5 class="card-title">InstaQuote</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mx-auto mb-2">
            <div class="card">
                <img src="./assets/img/multiCover.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Quote Engine Re-Write</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mx-auto mb-2">
            <div class="card">
                <img src="./assets/img/placeholder.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">lorem</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, temporibus? Architecto totam soluta, officiis ex at, cupiditate delectus iusto maxime, laudantium pariatur asperiores eius molestiae iste dolorem nostrum alias non.</p>
                    <a href="#" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>
    </div>
</div>