@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");

@font-face {
  font-family: titleFont;
  src: url("../../../assets/fonts/midnightsnack-bb.regular.ttf");
}

.container-fluid {
  background: #304352; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #d7d2cc, #304352); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #d7d2cc,
    #304352
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 5%;
  padding-top: 0px;
}

.title {
  font-family: skillsFont;
  letter-spacing: 25px;
  color: #7a3c3a;
  cursor: context-menu;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  font-size: 59px;
  line-height: 1;
  filter: brightness(0.9);
}

.title2 {
  font-family: skillsFont;
  letter-spacing: 55px;
  font-size: clamp(35px, 3vw, 30px);
  color: #7a3c3a;
  cursor: context-menu;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.card {
  border-color: #0ae1c2;
  .card-body {
    background-color: #1a1a1d;
    color: white;
  }
  .btn {
    background-color: #0ae1c2;
    transition: ease 0.2s all;
  }

  .btn:hover {
    transform: scale(1.2);
    background-color: #767F85;
    color: white;
  }

  hr {
    background-color: #0ae1c2;
  }
}

@media only screen and (max-width: 513px) {
  .title {
    letter-spacing: 0px;
    font-size: 52px;
  }

  .title2 {
    letter-spacing: 7px;
    font-size: 35px;
  }
}
